trunk/autoedgethefactory/cfg/AutoEdgeTheFactoryBuildWebServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AutoEdgeTheFactoryBuildWebServices" targetNamespace="urn:factory-autoedge-com" xmlns:tns="urn:factory-autoedge-com" xmlns:S2="urn:factory-autoedge-com:AutoEdgeTheFactoryBuildWebServices" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:prodata="urn:schemas-progress-com:xml-prodata:0001" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:S1="urn:soap-fault:details" xmlns="http://schemas.xmlsoap.org/wsdl/">
<wsdl:documentation>EncodingType=DOC_LITERAL, Proxygen_Product=Progress Version 10.2B</wsdl:documentation>
  <wsdl:types>
<schema elementFormDefault="unqualified" targetNamespace="urn:soap-fault:details" xmlns="http://www.w3.org/2001/XMLSchema"><element name="FaultDetail"><complexType><sequence><element name="errorMessage" type="xsd:string"/><element name="requestID" type="xsd:string"/></sequence></complexType></element></schema>
<schema elementFormDefault="qualified" targetNamespace="urn:factory-autoedge-com:AutoEdgeTheFactoryBuildWebServices" xmlns="http://www.w3.org/2001/XMLSchema"><element name="PerformBuildVehicleWorkStep"><complexType><sequence><element name="pcOrderId" nillable="true" type="xsd:string"/><element name="pcContextId" nillable="true" type="xsd:string"/><element name="pcProcessInstanceName" nillable="true" type="xsd:string"/><element name="piProcessInstanceId" nillable="true" type="xsd:long"/><element name="pcWorkstepName" nillable="true" type="xsd:string"/></sequence></complexType></element><element name="PerformBuildVehicleWorkStepResponse"><complexType><sequence><element name="result" nillable="true" type="xsd:string"/><element name="pcBuildStatus" nillable="true" type="xsd:string"/></sequence></complexType></element></schema>
  </wsdl:types>
  <wsdl:message name="AutoEdgeTheFactoryBuildWebServices_PerformBuildVehicleWorkStepResponse">
    <wsdl:part name="parameters" element="S2:PerformBuildVehicleWorkStepResponse"/>
  </wsdl:message>
  <wsdl:message name="AutoEdgeTheFactoryBuildWebServices_PerformBuildVehicleWorkStep">
    <wsdl:part name="parameters" element="S2:PerformBuildVehicleWorkStep"/>
  </wsdl:message>
  <wsdl:message name="FaultDetailMessage">
    <wsdl:part name="FaultDetail" element="S1:FaultDetail"/>
  </wsdl:message>
  <wsdl:portType name="AutoEdgeTheFactoryBuildWebServicesObj">
    <wsdl:operation name="PerformBuildVehicleWorkStep">
      <wsdl:input message="tns:AutoEdgeTheFactoryBuildWebServices_PerformBuildVehicleWorkStep"/>
      <wsdl:output message="tns:AutoEdgeTheFactoryBuildWebServices_PerformBuildVehicleWorkStepResponse"/>
      <wsdl:fault name="AutoEdgeTheFactoryBuildWebServicesFault" message="tns:FaultDetailMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutoEdgeTheFactoryBuildWebServicesObj" type="tns:AutoEdgeTheFactoryBuildWebServicesObj">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PerformBuildVehicleWorkStep">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutoEdgeTheFactoryBuildWebServicesFault">
        <soap:fault name="AutoEdgeTheFactoryBuildWebServicesFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutoEdgeTheFactoryBuildWebServicesService">
    <wsdl:port name="AutoEdgeTheFactoryBuildWebServicesObj" binding="tns:AutoEdgeTheFactoryBuildWebServicesObj">
<wsdl:documentation></wsdl:documentation>
      <soap:address location="http://www.tempuri.org/wsa/wsa1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
